/* Navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: #FDF8F2;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    padding: 0 50px;
    width: 100%;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-one{
    background-color: #4E9FB3;
    color: #000000;
    height: 100px;
    cursor: pointer;
}
.gradient{
    width: 500px;
    height: 500px;
    border: 1px ;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -51.5%);  
    background-image: radial-gradient(#FF9252, #ff925263);
}
.navbar-icons > div + div{
    margin-left: 20px;
    font-size: 20px;
}
.magnifying-glass{
    font-size: 20px;
}
nav img{
    width: 150px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);   
}

/* second Nav-bar (orange) */

.navbar-second{
    background-color: #FF9252;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 3;
}
.nav-links ul li{
    font-family: 'Gelasio', serif;
    list-style: none;
    display: inline-block;
    padding: 8px 28px;
    position: relative;
}
.nav-links ul li a{
    color: #000000d1;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.nav-links ul li a:hover{
    color: #000000;
}

/* ---Interactive navbar hover---*/
.nav-links .flex li::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #000000c8;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}
.nav-links .flex li:hover::after {
    width: 100%;
}

/* Hides mobile icons in desktop version  */
#mobile{
    display: none;
    align-items: center;
}

/* Hides checkbox on desktop version */
#hamburger{
    display:none;
  }

/* Hamburger menu */
.ham-container{
height:30px;
width:40px;
display:flex;
margin:10% auto;
display:none;
justify-content:center;
align-items:center;
cursor:pointer;
}

.line{
position:absolute;
height:5px;
width:30px;
background-color:black;
transition: .4s ease;
}

.line::before{
content:'';
position:absolute;
height:5px;
width:30px;
background-color:black;
top:-8px;
transition: .4s ease;
}
.line::after{
content:'';
position:absolute;
height:5px;
width:30px;
background-color:black;
top:8px;
}

#hamburger:checked + label #active{
transform:rotate(45deg);
}

#hamburger:checked + label #active::before{
transform:rotate(-90deg) translateX(-8px);
}

#hamburger:checked + label #active::after{
display:none; 
}
.nav-links input:checked ~ .flex {
left: 0;
}



/* Hero (body) */
section{
    margin: 8%;
}

.container{
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
}
.container .img-col{
    width: 100%;
    margin-right: 50px;
    padding-left: 40px;
    padding-top: 80px;
}
#MainImg{
    width: 360px;
    border: 2px solid #999896;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
    width: 360px;
    
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.container .detail-col{
    width: 100%;
    padding-top: 30px;
    padding-right: 40px;
}
.container .detail-col h1{
    font-size: 38px;
    font-weight: 600;
    padding: 40px 0 20px 0;
    color: #6F6E6E;
}
.container .detail-col h2{
    font-size: 26px;
    font-family: 'Esteban', sans-serif;
    margin-bottom: 20px;
    color: #4E9FB3;
}
.container .detail-col h3{
    padding-bottom: 10px;
}
.container .detail-col p{
    line-height: 1.5;
}
.container .detail-col select{
    display: block;
    font-size: 18px;
    padding: 6px 65px;
    margin-bottom: 10px;
    background-color: #d3ccca81;
}
.container .detail-col input{
    width: 50px;
    height: 35px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.btn{
    display: inline-block;
    background-color: #4E9FB3;
    color: white;
    padding: 10px 45px;
    margin: 30px 0;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: 5px 5px 10px #999896;
    text-decoration: none;
}
.btn:hover{
    background-color: #FF9252;
    color: #000000;
    transition: all 0.4s;
}


/* Featured product (You might also like this) */




.featured h2{
    text-align: center;
    padding: 30px 10%;
    color: #EC6F70;
    border: 2px solid #ec6f6f71;
    margin: 50px;
    border-left: #FDF8F2;
    border-right: #FDF8F2;
    font-size: 26px;
}
.featured-col{
    display: inline-block;
    padding: 10px 45px;
    margin: 40px 0;
}
.featured-col img{
    width: 160px;
    height: 240px;

}
.featured-col p{
    color: #4E9FB3;
    font-weight: 600;
}
.featured h5{
    font-size: 16px;
    font-weight: 500;
}


/* Contact section (bottom) */
.contact{
    margin-top: 120px;
    background-color: #999896;
}
.contact-info{
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
    padding: 40px;  
}
.contact-info h4 {
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-info p {
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}
.contact-info p:hover{
    color: #4E9FB3;
}
.social-icons i{
    color: #000000;
    margin-left: 5px;
    font-size: 28px;
    transition: all .42s;
}
.social-icons i:hover{
    transform: scale(1.3);
}
.first-info img{
    width: 140px;
    height: auto;
}
.fifth-info img{
    width: 200px;
}

a{
    text-decoration: none;
    color: #000000;
}


/* ----- Media querry - Navbar------ */

@media (max-width:799px) {

    /* Navbar */
    .gradient{
        width: 350px;
    }
    nav img{
        width: 100px;
    }
    #navbar-one .navbar-icons{
        display: none;
    }

    .nav-links .flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        top: 160;
        left: -300px;
        height: 100vh;
        width: 300px;
        background-color: #FF9252;
        box-shadow: 0 40px 60px #0000001a;
        padding: 80px 0 0 10px;
    }
    #navbar li{
        margin-bottom: 20px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #000000;
        font-size: 24px;
        padding-left: 20px;
    }
    /* --- hamburger  */
    .ham-container{
        display: flex;
    }

    /* body */
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .img-col {
        width: 100%;
        margin-right: 0;
        padding: 20px;
        
    }

    .container .detail-col {
        width: 100%;
    }


    /* featured */

    .featured h2{
        font-size: 20px;
    }
}


@media (max-width:470px) {
    
    #MainImg{
        width: 260px;
    }
    .small-img-group{
        display: flex;
        justify-content: space-between;
        width: 260px;
    }
    .container .detail-col h1{
        font-size: 28px;
        font-weight: 600;
        padding: 40px 0 20px 0;
        color: #6F6E6E;
    }
}


