/* Navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: #FDF8F2;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    padding: 0 50px;
    width: 100%;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-one{
    background-color: #4E9FB3;
    color: #000000;
    height: 100px;
    cursor: pointer;
}
.gradient{
    width: 500px;
    height: 500px;
    border: 1px ;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -51.5%);  
    background-image: radial-gradient(#FF9252, #ff925263);
}
.navbar-icons > div + div{
    margin-left: 20px;
    font-size: 20px;
}
.magnifying-glass{
    font-size: 20px;
}
nav img{
    width: 150px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);   
}

/* second Nav-bar (orange) */

.navbar-second{
    background-color: #FF9252;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 3;
}
.nav-links ul li{
    font-family: 'Gelasio', serif;
    list-style: none;
    display: inline-block;
    padding: 8px 28px;
    position: relative;
}
.nav-links ul li a{
    color: #000000d1;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.nav-links ul li a:hover{
    color: #000000;
}


/* ---Interactive navbar hover---*/
.nav-links .flex li::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #000000c8;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}
.nav-links .flex li:hover::after {
    width: 100%;
}

/* Hides mobile icons in desktop version  */
#mobile{
    display: none;
    align-items: center;
}

/* Hides checkbox on desktop version */
#hamburger{
    display:none;
  }

/* Hamburger menu */
.ham-container{
height:30px;
width:40px;
display:flex;
margin:10% auto;
display:none;
justify-content:center;
align-items:center;
cursor:pointer;
}

.line{
position:absolute;
height:5px;
width:30px;
background-color:black;
transition: .4s ease;
}

.line::before{
content:'';
position:absolute;
height:5px;
width:30px;
background-color:black;
top:-8px;
transition: .4s ease;
}
.line::after{
content:'';
position:absolute;
height:5px;
width:30px;
background-color:black;
top:8px;
}

#hamburger:checked + label #active{
transform:rotate(45deg);
}

#hamburger:checked + label #active::before{
transform:rotate(-90deg) translateX(-8px);
}

#hamburger:checked + label #active::after{
display:none; 
}
.nav-links input:checked ~ .flex {
left: 0;
}



/* Body About-Page */
.about-page{
    margin: 8%;
}
.about-page h1{
    padding: 30px;
    color: #ffff;
    background-color: #007997;
}
.boxes{
    display: flex;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.box-1{
    width: 100%;
    height: auto;
    margin-right: 10px;

}
.box-2{
    width: 100%;
    height: 360px;
    
}
.box-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 1px #922d2d;
}

.boxes h2{
    font-weight: 600;
    padding: 20px 60px;
    text-align: center;
}
.boxes p{
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    margin: 20px 10px;
    line-height: 1.5;
    padding: 20px 20px;

}
.devider{
    width: 100%;
    height: 35px;
    background-color: #FECFB2;
    text-decoration: none;
}
.devider-2{
    width: 100%;
    height: 35px;
    background-color: #4E9FB3;
    text-decoration: none;
}


/* Contact section (bottom) */

.contact{
    margin-top: 120px;
    background-color: #999896;
}
.contact-info{
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
    padding: 40px;  
}
.contact-info h3 {
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-info p {
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}
.contact-info p:hover{
    color: #4E9FB3;
}
.social-icons i{
    color: #000000;
    margin-left: 5px;
    font-size: 28px;
    transition: all .42s;
}
.social-icons i:hover{
    transform: scale(1.3);
}
.first-info img{
    width: 140px;
    height: auto;
}
.fifth-info img{
    width: 200px;
}

a{
    text-decoration: none;
    color: #000000;
}


/* ----- Media querry ------ */

@media (max-width:799px) {

    /* Navbar */
    .gradient{
        width: 350px;
    }
    nav img{
        width: 100px;
    }
    #navbar-one .navbar-icons{
        display: none;
    }

    .nav-links .flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        top: 160;
        left: -300px;
        height: 100vh;
        width: 300px;
        background-color: #FF9252;
        box-shadow: 0 40px 60px #0000001a;
        padding: 80px 0 0 10px;
    }
    #navbar li{
        margin-bottom: 20px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #000000;
        font-size: 24px;
        padding-left: 20px;
    }
    /* --- hamburger  */
    .ham-container{
        display: flex;
    }

    /* Body */
    .boxes{
        flex-direction: column;
    }
    .box-1{
        order: -1;
    }



}
